/* PIE DE PAGINA */

footer{
    padding: 10px 30px;
    width: 100%;
    background-color: rgba(50, 59, 53, 0.473);
}

.copyright{
    font-size: 20px;
    color: rgb(12, 12, 12);
    font-family: 'Arimo', sans-serif;
    
}

