/*GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Arimo:wght@500&family=Roboto:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital@1&display=swap');