/* MENU */

main {
    margin: 20px;
    padding: 30px;

    h2{
    font-size: 70px;
    color: rgb(10, 41, 10);
    margin-top: 10px;
    margin-left: 10px;
}

    section {
        margin: 20px;
        padding: 30px;
}
}

.titulo-index{
    display: flex ;
    justify-content: center;
    border-style: groove;
    border-width: 20px;
    border-color: black;
}




