/*CUERPO*/
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Arimo:wght@500&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital@1&display=swap");
body {
  font-family: "Arimo", sans-serif;
  margin: 0;
  background-color: rgb(196, 193, 161);
}
body a {
  text-decoration: none;
  color: black;
}
body p {
  font-size: 20px;
}

/* PIE DE PAGINA */
footer {
  padding: 10px 30px;
  width: 100%;
  background-color: rgba(50, 59, 53, 0.473);
}

.copyright {
  font-size: 20px;
  color: rgb(12, 12, 12);
  font-family: "Arimo", sans-serif;
}

/*GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

/* ENCABEZADO */
header {
  display: flex;
  background-color: rgb(5, 5, 5);
  background-image: url(../img/img-header.jpeg);
  background-size: 1100px;
  background-position: center;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
header .logo {
  width: 500px;
  margin-right: 30px;
  margin-top: 30px;
}
header .logo-nombre {
  display: flex;
  margin-bottom: 150px;
}
header nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
header nav a {
  color: rgb(255, 216, 40);
}
header nav a:hover {
  color: rgb(14, 134, 44);
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  font-size: 20px;
  list-style-type: none;
}
header li {
  display: flex;
  justify-content: space-between;
}

/* MENU */
main {
  margin: 20px;
  padding: 30px;
}
main h2 {
  font-size: 70px;
  color: rgb(10, 41, 10);
  margin-top: 10px;
  margin-left: 10px;
}
main section {
  margin: 20px;
  padding: 30px;
}

.titulo-index {
  display: flex;
  justify-content: center;
  border-style: groove;
  border-width: 20px;
  border-color: black;
}

/* TIENDA */
.titulo-tienda {
  display: flex;
  justify-content: center;
  border-style: groove;
  border-width: 20px;
  border-color: black;
}

.card-aceite {
  background-color: white;
  width: 300px;
  height: 500px;
  box-shadow: 0 0 20px;
  margin: 20px;
  padding: 20px 20px 20px 20px;
}

/*Seccion Variedades*/
/*TITULO*/
.titulo-variedades {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-style: groove;
  border-width: 20px;
  border-color: black;
}

/*IMAGENES*/
.imagen-sativa {
  height: 600px;
}

.imagen-indica {
  height: 600px;
  margin-bottom: 20px;
}

/*LISTA*/
.lista-variedades {
  list-style-type: none;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
}

/*TITULO*/
.titulo-metodos {
  display: flex;
  justify-content: center;
  border-style: groove;
  border-width: 20px;
  border-color: black;
}

/*MIXIN HEADER*/
.logo-nombre {
  color: rgb(216, 216, 216);
  height: 50px;
  font-size: 80px;
}

/*CONTENIDO MENU INDEX*/
.parrafo1 {
  padding: 10px;
  background-color: rgb(223, 219, 30);
  border-color: black;
  border-style: groove;
}

.parrafo2 {
  padding: 10px;
  background-color: rgb(223, 219, 30);
  border-color: black;
  border-style: groove;
}

.parrafo3 {
  padding: 10px;
  background-color: rgb(223, 219, 30);
  border-color: black;
  border-style: groove;
}

.img1 {
  padding: 20px 10px 20px 10px;
}

.img2 {
  padding: 20px 10px 20px 10px;
}

/*variables en seccion metodos*/
/*imagenes metodos*/
.img-sog {
  height: 520px;
  width: 720px;
  box-shadow: 0 0 20px;
}

.img-scrog {
  height: 520px;
  width: 720px;
  box-shadow: 0 0 20px;
}

.img-lst {
  height: 520px;
  width: 720px;
  box-shadow: 0 0 20px;
}

/*REDES FOOTER*/
.btn--boton1 {
  background-color: rgb(74, 67, 161);
}

.btn--boton2 {
  background-color: rgb(0, 0, 0);
}

.redes div button {
  height: 50px;
  width: 100px;
  color: white;
}/*# sourceMappingURL=style.css.map */